<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">The Portfolio Project</span>
        <span class="text-muted">&copy; Adam Valente 2024</span>
    </div>
</footer>